<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil da Empresa</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <header class="bg-gray-800 text-white py-4 px-6 flex justify-between items-center">
        <h1 class="text-xl font-bold">SoftPet</h1>
        <a href="../../views/viewGeral/home.html">VOLTAR</a>
    </header>

    <main class="max-w-lg mx-auto mt-8 px-4" id="empresaProfile">
        <!-- Aqui serão inseridos dinamicamente os dados da empresa -->
    </main>
    <script src="../../public/js/editar-parametrizacao.js"></script>
</body>

</html>